{% extends 'base.html' %}

{% block content %}

<span class="title">
    <h1>{% block title %}Your IP is: {{ user_ip }} </h1>
    <h1>Your location: {{ user_location }} </h1>

    <h1>Your cooridinates: Latitude {{ latitude }}, Longitude {{ longitude}} </h1>
    <h2>Nearest cities:</h2>
    <ul>

        {% for item in distances_with_names %}

        <li>{{ item[0]}}: {{ item[1]}} km </li>

        {% endfor %}

    </ul>
    {% endblock %}
</span>
<div class="content">

    <h2>Events: </h2>
    {% for event in city_events %}

    <li>Event {{event.title}} will start {{event.start_date}}, link: {{event.link}}</li>

    {% endfor %}



</div>
{% endblock %}